{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="">
{% endblock%}
{% block title %}
Pan con queso Estudio Creativo - Página Oficial
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/index.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/jquery.flexslider-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/back-top.js' %}"></script>
{% endblock %}
{% block navi %}
		<ul>
			<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a></li>
			<li class="works"><a href="">Catalogo</a></li>
			<li class="services"><a href="">Blog</a></li>
			<li class="contact"><a href="">Clientes</a></li>
			<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a></li>
		</ul>				
{% endblock %}
{% block clear %}{% endblock%}
{% block contenido %}
	<section class="bannerPrincipal">
		<div class="sliderPosition">
			<div class="flexslider">
				<ul class="slides">
					<li><img src="{% static 'img/a.jpg' %}" alt=""></li>
					<li><img src="{% static 'img/b.jpg' %}" alt=""></li>
					<li><img src="{% static 'img/c.jpg' %}" alt=""></li>
				</ul>
			</div>
		</div>
	</section>
	<section class="sobrePanconqueso">
		<div class="wrapper">
			<h2 class="tituloNegro">Sobre Pan con Queso</h2>
			<p>e eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullam.</p>
		</div>
	</section>
	<section class="ultimosProyectos">
		<div class="wrapper">
			<h2 class="tituloNaranja">Últimos Proyectos</h2>
			<div class="aflexslider">
			  <ul class="slides">
			    <li data-thumb="slide1-thumb.jpg">
			      <img src="slide1.jpg" />
			    </li>
			    <li data-thumb="slide2-thumb.jpg">
			      <img src="slide2.jpg" />
			    </li>
			    <li data-thumb="slide3-thumb.jpg">
			      <img src="slide3.jpg" />
			    </li>
			    <li data-thumb="slide4-thumb.jpg">
			      <img src="slide4.jpg" />
			    </li>
			  </ul>
			</div>
			<div class="irCatalogo">Ir al Catalogo</div>
			<div class="lineaCompleta"></div>
		</div>
	</section>
	<section class="instragram">
		<div class="wrapper">
			<div class="tituloInstagram">Instagram</div>
			<div class="ultimasPublicaciones">
				{% for media_link, media_url, media_likes, media_texto in zip_media %}
				<article class="publicacion">
					<a href="{{media_link}}">
						<img src="{{media_url}}" alt="prueba">
						<div class="likes">{{media_likes}}</div>
					</a>
				</article>
				{% endfor %}
			</div>
			<h2 class="tituloNaranja"><a href="http://instagram.com/panconqueso_ec" rel="nofollow"></a>@panconqueso_ec</h2>
			<div class="fotoInstagramLogo"></div>
		</div>
	</section>
	<section class="entradasBlog">
		<div class="wrapper">
			<h2 class="tituloNegro">Entradas del blog</h2>
			<div class="listaEntradas">
				<div class="entrada">
					<div class="entradaTop">
						<div class="foto"></div>
						<div class="titulo"><span class="subtitulo"></span></div>
					</div>
					<p></p>
				</div>
				<div class="entrada"></div>
			</div>
			<div class="irCatalogo">Ver todas las entradas</div>
			<div class="lineaCompleta"></div>
		</div>
	</section>
	<section class="nuestrosClientes">
		<div class="wrapper">
			<h2 class="tituloNaranja">Nuestros clientes</h2>
			<div class="listaClientes">
				<div class="cliente"><img src="" alt=""></div>
			</div>
		</div>
	</section>
	<section class="recomendacionClientes">
		<div class="wrapper">
			<h2 class="tituloNegro">Lo que dicen de nosotros</h2>
			<div class="listaRecomendacion">
				<div class="recomendacion">
					<div class="foto"></div>
					<div class="texto">
						<div class="nombreTitulo">Nombre del cliente</div>
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</section>		
	<section class="fondoContacto">
		<!-- COLOCAR BOTONES DE ME GUSTA Y SIGUENOS -->
		<div class="wrapper">
		<div class="tituloStyle">
			<h2>Contacto</h2>
			<div class="lineatitulo"></div>
		</div>		
		{% if success %}
		<div class="mensajeenviado">
			<div class="enviado">Su mensaje ha sido enviado correctamente, pronto nos pondremos en contacto con usted.</div>
			<img class="sobre" src="{{ STATIC_URL }}img/sobre.png" alt="formulario de contacto">	
		</div>
		{% else %}
		{% if form.errors %}
        <p>
            Por favor corregir los errores debajo.
        </p>
   		{% endif %}
		<form action="#" method="POST">
			{% csrf_token %}
			<div class="campo">
				{{ field.errors }}
				<label for="nombre">Nombre:</label>
				{{ form.nombre }}
				{{ form.nombre.errors }}
			</div>
			<div class="campo">				
				{{ field.errors }}
				<label for="email">Correo Electrónico:</label>
				{{ form.email }}
				{{ form.email.errors }}
			</div>
			<div class="campo">
				{{ field.errors }}
				<label for="telefono">Teléfono:</label>
				{{ form.telefono }}
				{{ form.telefono.errors }}
			</div>
			<div class="textareaDescripcion">
				{{ field.errors }}
				<label for="texto">Breve descripción de su proyecto: </label>
				{{ form.texto }}
				{{ form.texto.errors }}
			</div>
			<div class="botonEnviar">
				<input type="submit">
			</div>
		</form>
		{% endif %}
		<div class="tituloStyle">
			<h2>Información de contacto</h2>
			<div class="lineatitulo"></div>
		</div>	
		<section class="infoContacto">
		</section>
	</div>
	</section>
	<!-- ====================================== -->
<!-- Scripts de la página de inicio -->
<!-- ====================================== -->
	<!-- SLIDER INIT -->
	<script>
		$(document).ready(function() {
		  $('.flexslider').flexslider({
		  });
		});
	</script>	
	<!-- Google+ SCRIPT --> 
		<!-- Place this tag after the last badge tag. -->
		<script  async type="text/javascript">
		 window.___gcfg = {lang: 'es-419'};
		 (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		   po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	<!-- FACEBOOK SCRIPT -->
			<div id="fb-root"></div>
		<script async>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	<!-- TWITTER SCRIPT -->
	<script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
	<!-- BACK TOP BOX -->
	<div id="back-top" class="back-top">
		<a href="#home"><span>↑</span>Regresar arriba</a>
	</div>
{% endblock%}