@charset 'utf-8';
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}
html, body{
	margin: 0;
	height: 100%;
	background: white;
	color: black;
	font-family: 'Raleway', helvetica, sans-serif, arial;
}
h1{
	display: inline-block;
	vertical-align: top;
	line-height: 200px;
	margin: 0;
	font-size: 1.5em;
}
h2{
	color: #FFF;
	position: relative;
	margin: 0.2ex auto 2.2ex auto;
	padding: 8px 8px 9px 8px;
	width: 35%;
	text-align: center;
}
.logoymenu img{
	display: inline-block;
	width: 200px;
	margin-left: 10px;
}
.infoHeader .email, .infoHeader .telefono, .infoHeader .redes{
	display: inline-block;
	width: 31%;
	text-align: center;
	padding: 6px;
}
.twitterlogo, .facebook,  .youtube, .instagram{
	background: url(../img/redes.png) no-repeat;
	display: inline-block;
}
.twitterlogo{
	background-position: 10px 0;
	height: 35px;
	width: 35px;
}
.facebook{
	background-position: -40px 0;
	height: 35px;
	width: 35px;
}
.instagram{
	background-position: -85px 0;
	height: 35px;
	width: 35px;
}
nav{
	display: inline-block;
	color: #FFF;
	vertical-align: bottom;
	width: 55%;
	padding: 1% 1% 5% 1%;
}
nav select {
  display: none;
}
nav > ul{
	padding: 0;
	margin: 0;
	margin-top: 30px;
}
nav li{
	display: inline-block;
	text-align: center;
	font-size: 1em;
}
nav a{
	text-decoration: none;
	color: #FFF;
	border-right: 2px solid #ED7129; /*naranja*/
	padding-right: 10px;
	font-size: 1.2em;
}
nav a:hover{
	color: #ED7129;
}
/*SECCION CONTENIDO*/
.tituloNaranja{
	background: #ED7129;
}
.tituloNegro{
	background: black;
}
.tituloNegro:before, .tituloNaranja:after, .tituloNaranja:before, .tituloNegro:after {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	border-style: solid;
	border-width: 23px 2ex;
	z-index: 4;
}
.tituloNaranja:before, .tituloNaranja:after{
	border-color: #ED7129;
}
.tituloNegro:before, .tituloNegro:after{
	border-color: black;
}
.tituloNaranja:before, .tituloNegro:before{
	left: -1ex;
	border-left-width: 1ex;
	border-right-width: 1ex;
	border-left-color: rgba(0, 0, 0, 0);
}
.tituloNaranja:after, .tituloNegro:after{
	right: -1ex;
	border-right-width: 1ex;
	border-left-width: 1ex;
	border-right-color: rgba(0, 0, 0, 0);
}
.wrapper{
	width: 1000px;
	height: 100%;
	margin: 0 auto 0 auto;
}
header{
	position: absolute;
	z-index: 10;
	width: 100%;
}
header > .wrapper{
	background: black;
	background: rgba(0, 0, 0, 0.66);
	color: white;
}
nav select {
  display: none;
}
/*CONTACTO */
form{
	width: 50%;
	display: inline-block;
}
.campos{
	display: inline-block;
}
.campo{
	margin-bottom: 10px;
}
.campo label {
	float: left;
	width: 100%;
	margin-bottom: 3px;
}
.campo input, textarea{
	text-indent: 10px;
	width: 100%;
	background: #FFF;
	color: #000;
}
.campo input{
	height: 28px;
}
.campo textarea{
	height: 172px;
}

.botonEnviar{
	text-align: center;
}
.botonEnviar input{
	margin: 5px auto;
	border-radius: 300px;
	width: 75px;
	height: 75px;
	background: #ED7129;
	text-align: center;
	color: #FFF;
	border: 1px dotted #FFF;
}
/* Configuración slider */
.flexslider{
	background: #fff url(../../img/loader.gif) no-repeat center center !important;
	overflow: hidden;
	height: auto;
	margin: 0 !important;
	border: none !important;
}
.slides{
	margin: 0;
	padding: 0;
}
.flexslider .slides img{
	width: 100%;
	height: calc(100%); /* IE9+ and future browsers */
	height: -moz-calc(100%); /* Firefox */
	height: -webkit-calc(100%); /* Chrome, Safari */
}
.flexslider .slides li{
	height: 100%;
}
.flex-control-nav{
	bottom: 5px !important; 
}
.flex-direction-nav a{
	z-index: 10; 
	visibility: hidden;
}
.slides ul li{
	text-decoration: none;
}

/*************************/
/* Primer banner section */
/*************************/
.sliderPosition{
	width: 100%;
	color: transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bannerPrincipal{
	position: relative;
	height: calc(100%); /* IE9+ and future browsers */
	height: -moz-calc(100%); /* Firefox */
	height: -webkit-calc(100%); /* Chrome, Safari */
	min-height: 475px;
}

/* Configuración back to top button */

.back-top {
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 1;
}

.back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: black;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover {
	color: #000;
}
	/* arrow icon (span tag) */
.back-top span {
	width: 70px;
	height: 70px;
	display: block;
	margin: 0 auto 7px auto;
	font-size: 0;
	background: rgb(75, 75, 75) url(../img/up-arrow.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover span {
	background-color: #777;
}

@media screen and (max-width: 1020px){
	.wrapper{
		width: 100%;
	}
	
	nav ul { display: none; }
	nav select { display: inline-block; }

	.redesociales{
		display: none;
	}
	.imagenLogo{
		margin: 0 auto;
		display: block;
	}
	.menuylogo{
		text-align: center;
	}
	.barraNavegacion{
		margin-top: 25px;
	}
	/* FOOTER */ 
	.infoFooter{
		height: auto;
		text-align: center;
		padding-top: 10px;
	}
	.infoFooter .wrapper > div {
		width: 49%;
	}
	.footer-izq {
		width: 100%;
	}
	.imagenLogoFooter{
		margin: 0 auto;
		display: block;
	}
	/* configuración back-to-top responsive */
	.back-top a{
		width: 60px;
		text-shadow: 0 0 1px black;
	}
	.back-top span {
		width: 40px;
		height: 40px;
		font-weight: bold;
		font-size: 4em;
		line-height: 30px;
		background: none;
		margin: 0 auto 0 auto;
	}
	.back-top a:hover span {
		background:none;
	}
	/* END CONFIG back-to-top */
}