{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
<!--[if lt IE 8]><script type="text/javascript" src="{{ STATIC_URL }}js/adquiridos/ie6-not-supported.js" ></script><![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta name="keywords" content="">
<meta name="author" content="duranjo web c.a.">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
{% block head %} {% endblock%}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
<title>{% block title %} {% endblock%}</title>
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
</head>
<body>
	<!-- Analytics SCRIPT GOOGLE! -->
	<!--<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  //Se debe cambiar esto cuando se haga X página.
	  ga('create', 'UA-*********-1', '*******.com');
	  ga('send', 'pageview');
	</script> -->
	<header id="home" class="cabecera">
		<div class="wrapper">
			<div class="infoHeader">
				<div class="wrapper">
					<div class="email">info@panconquesoec.com</div>
					<div class="telefono">Teléfono: +58 999 9999999</div>
					<div class="redes">
						<a href="http://www.youtube.com/channel/UCpF6BHSl3F8VlFCh_4o8gew/"><div class="youtube"></div></a>
						<a href="https://twitter.com/**"><div class="twitterlogo"></div></a>
						<a href="https://www.facebook.com/**"><div class="facebook"></div></a>
						<a href=""><div class="googleplus"></div></a>
						<a href=""><div class="linkedin"></div></a>
						<a href=""><div class="slideshare"></div></a>
					</div>
				</div>
			</div>
			<div class="logo">
				<img src="{% static 'img/logo.png' %}" alt="Logo Pan con Queso Estudio Creativo">
				<h1>Estudio Creativo</h1>
			</div>
			<nav class="barraNavegacion">
				<ul>
					<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a></li>
					<li class="aboutus"><a href="">Sobre nosotros</a></li>
					<li class="catalog"><a href="">Catalogo</a></li>
					<li class="blog"><a href="">Blog</a></li>
					<li class="clients"><a href="">Clientes</a></li>
					<li class="contact"><a href="">Contacto</a></li>
				</ul>
				<select> 
					<option value="" selected="selected">Menú</option> 
					<option value="{% url 'homepageindex' %}">Inicio</option> 
					<option value="">Sobre nosotros</option>
					<option value="">Catalogo</option>
					<option value="">Blog</option>
					<option value="">Clientes</option>
					<option value="">Contacto</option>
				</select> 
			</nav>
		</div>
	</header>
	<section class="contenido">
		{% block contenido %} {% endblock%}
	</section>
	{% block clear %} {% endblock %}
	<footer>
		{% block footer %}{% endblock%}
		<div class="wrapper">
			<div class="footer-der">
			</div>
			<div class="footer-izq">
			</div>
			<div class="copyRight">Panconqueso Estudio Creativo © Copyright 2014. Todos los derechos reservados. Developed by: <a href="http://duranjo.com/" rel="nofollow"><img src="http://duranjo.com/static/img/duranjowhite.png" alt="logo empresa duranjo"></a>
			</div>		  
		</div>
	</footer>
	<script>
	$("nav select").change(function() {
	    window.location = $(this).find("option:selected").val();
	});    
	</script>
</body>
</html>